title {
    display: none !important;
}

body {
    margin: 0 auto;
    position: absolute;
    max-width: 95%;
    min-width: 95%;
}


button {
  float: left;
}

.buttonZone {
    max-width: 60%;
    padding: 10px 10px 20px 10px;
    margin-bottom: 15px;
}

.formWrap {
    float: right;
    position: absolute;
    border: 1px solid black;
    height: 35vh;
    max-width: 100%;
    text-align: center;
    background-color: #F8F8FF;
    box-shadow: 3px 3px 2px #888888;
    font-family: "Arial Black", arial;
    color: #2F4F4F;
    padding: 10px 15px;
    right: 1px;
}

.container {
    width: 80%;
}

#gen-buttons-view {
    float: left;
    border; 1px solid black;
    overflow: auto;
}
